{% extends "base.html" %}
{% load filters %}
{% block title %}Booking{% endblock title %}

{% block content %}

<div class="container text-center">
    {% if info_book %}
    <h1>You have booked seats</h1>
    <div class="container">
        <p>Trip: {{ info_book.trip }}</p>
        <p>Total price: {{ info_book.cost }}</p>
        <p>Total seats: {{ info_book.seats }}</p>

        <button class="btn btn-success" id="submitButton">Pay</button>
    </div>
    {% elif msg %}
    <h2>{{ msg }}</h2>
    {% endif %}

</div>
<script>
    let url = "{% url 'payment' info_book.payment.id %}"
</script>
{% endblock %}