{% extends "base.html" %}
{% load bootstrap5 %}
{% block title %}Login{% endblock title %}

{% block content %}
<div class="container w-25">
    {% if msg %}
    <h2>We have sent a message to your email address to confirm registration</h2>
    {% endif %}
    <form action="{% url 'login' %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary w-100">
            Submit
        </button>
    </form>
</div>
{% endblock content %}