{% load bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>
        {% block title %}{% endblock %}
    </title>
    {% block links %}{% endblock %}
</head>
<body>

    <header>
        {% include "header.html" %}
    </header>

    <main>
        <div class="content mt-3">
            {% block content %}{% endblock content %}
        </div>
    </main>

    <footer>
        {% include "footer.html" %}
    </footer>
    
</body>
</html>