{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

<h1 class='text-center mt-3 mb-5'>Airline Tickets</h1>
<div class="container d-flex justify-content-around">
    {% for country in countries  %}
    <div class="container bd-highlight w-25">
        <div class="img">
            <img src="{{ country.image.url }}" alt="img-fluid" class="img-thumbnail">
        </div>
        <a href="{% url 'cities_list' country.id %}">{{ country.name }}</a>
    </div>
    {% endfor %}
</div>

{% endblock content %}